@mixin display {
  width: 50vw;
  height: 50vh;
  align-self: center;
  background-color: lightgray;
  border: 5px groove white;
  position: absolute;
  display: none;

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 3vh;
    background-color: blue;
    color: white;
    &__exit {
      height: 3vh;
      padding: 0.5px;
      display: flex;
      align-items: center;
      & > button {
        width: 1.5vw;
        height: 2vh;
        padding: 0.5px;
        margin: 1.5px;
        border: 3px white groove;
        font-weight: bolder;
      }
    }
  }
  &--topbar {
    height: 3vh;
    & > button {
      height: $button-height;
      width: $button-width;
      border: none;
      background-color: lightgray;
      &:hover {
        background-color: $button-hover-color;
        border: 3px white groove;
      }
    }
  }
  &__main {
    width: 40vw;
    height: 40vh;
    margin: 0 4vw 0 4vw;
    border: 4px gray inset;
    background-color: white;
  }
}
&__icon {
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__card {
    height: 10vh;
    width: 5vw;
    border: none;
    background-color: transparent;
    color: whitesmoke;
    &:hover {
      border: 1px solid lightgray;
      background-color: rgba(211, 211, 211, 0.184);
    }
  }
}
